params {
  input_bb = 'Eolab/germany-subset.gpkg'
  input_wc = '/codede/auxdata/esa-worldcover-2020/*tif'
  input_proj = 'Eolab/datacube-definition.prj'
  cube_files = '/force/FORCE/C1/L2/ard/*'
  model = 'outputs/models/lstm-sits.pkl'
  cutoff = 20230101
}

docker {
  enabled = true
  fixOwnership = true
  remove = true
  temp = 'auto'
  runOptions = '-u $(id -u):$(id -g)'
}

